.main-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(43, 14, 63, 0.3);
  padding: 4vh 2vh;
  border-radius: 10rem;
  border: 10px solid rgba(37, 0, 88, 0.473);
}

.links-container img {
  height: 3vh;
  width: 3vh;
  margin-top: 1vh;
  margin-left: 1vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.links-container a {
  font-size: 250%;
  margin: 1vh;
}

.link-list p {
  font-size: 250%;
  margin: 1vh;
  display: inline-block;
}

.links {
  font-size: 600%;
  margin: 2vh;
}

.nav-button {
  margin: 2vh 0;
}
